body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    height: 500px;
    width: 500px;
    display: grid;
    background-color: white;
    margin-left: 100px;

}

.button {
    margin-bottom: 10px;
    margin-top: 100px;
    width: 150px;
    height: 50px;
}

.btn2 {
    margin-bottom: 10px;
    width: 150px;
    height: 50px;
}

body {
    background-color: cadetblue ;
}

.footer, .header {
    background-color: #1f2937;
    color: white;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #e5e7eb;
    
}

.footer {
    margin-top: 25px;
}

.header {
    margin-bottom: 20px;
    font-size: large;
    font-weight: bold;
}

.content {
    display: flex;
}

.buttonContainer{
    margin-left: 150px;
    margin-top: 50px;
    margin-right: 0px;

}